{% extends "base.html" %}

{% block content %}
<form method="post" class="p-5">  {% csrf_token %}
        {{form.as_p }}
        <button type="submit" class="btn btn-primary">Create Note</button>
        <button type="submit" class="btn btn-primary">Update</button>
        <a href="{% url 'notes.list' %}" class="btn btn-secondary">List of notes</a>
</form>
    {% if form.errors %}    
        <div class="alert alert-danger mt-3">
            <ul>
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li>{{ field }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}