{% extends "base.html" %}
{% block content %}
    <div class="border round p-3 my-5">
        <h1 class="my-5">{{ note.title }} {%if note.is_public%}<span class="bage bg-secondary">Public</span> {%endif%}</h1>
        <p>{{ note.content }}</p>
        <p>Created at: {{ note.created_at }}</p> 

        <p>Likes: {{ note.likes }}</p>
        <form method="post" action="{% url 'notes.add_like' pk=note.id %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-success">
        Like
    </button>
</form>

<form method="post" action="{% url 'notes.change_visibility' pk=note.id %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-info">
        {% if note.is_public %}
            Make it Private
        {% else %}
            Make it Public
        {% endif %}
    </button>
</form>

        <a href="{% url 'notes.edit' pk=note.id %}" class="btn btn-primary">Update</a>

        <a href="{% url 'notes.delete' pk=note.id %}" class="btn btn-danger">Cancel</a>

        <a href="{% url 'notes.list' %}" class="btn btn-secondary">List of notes</a>

    </div>
    
{%endblock %}
